<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="https://ng.ant.design/assets/img/logo.svg">
        <span class="title">ng-fondo</span>
      </div>
      <div class="desc">foundation</div>
    </div>
    <router-outlet></router-outlet>
<!--    <global-footer [links]="links">-->
      Copyright
      <i nz-icon nzType="anticon anticon-copyright"></i> 2019
      <a href="#" target="_blank">Oktfolio</a> 出品
<!--    </global-footer>-->
  </div>
</div>
