<nz-table #expandTable [nzData]="listOfMapData">
  <thead>
  <tr>
    <th nzShowExpand></th>
    <th>ID</th>
    <th>名称</th>
    <th>级别</th>
    <th>类型</th>
    <th>编码</th>
    <th>URI</th>
    <th>方法</th>
    <th>图标</th>
    <th>父ID</th>
    <th>状态</th>
    <th>创建时间</th>
    <th>创建人</th>
    <th>修改时间</th>
    <th>修改人</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
      <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
        <td
          [nzIndentSize]="item.level * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"></td>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.level }}</td>
        <td>{{ item.type | resourceTypePipe}}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.uri }}</td>
        <td>
          <nz-tag [nzColor]="'red'">{{ item.method }}</nz-tag>
        </td>
        <td>{{ item.icon }}</td>
        <td>{{ item.parentId }}</td>
        <td>
          <nz-tag [nzColor]="'green'" *ngIf="data.status==1">已启用</nz-tag>
          <nz-tag [nzColor]="'gray'" *ngIf="data.status==0">未启用</nz-tag>
        </td>
        <td>{{ item.createAt }}</td>
        <td>{{ item.createBy }}</td>
        <td>{{ item.updateAt }}</td>
        <td>{{ item.updateBy }}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
